<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-laptop"></i>Expérience professionelle</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur Web Full Stack</h3>
                <div class="time">Mai 2013 - Aujourd'hui</div>
            </div><!--//upper-row-->
            <div class="company">Valraiso, Lyon</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            <ul>
                <li>Backend Java et Scala avec Play! Framework 2</li>
                <li>Frontend Js (Angular5, VueJs, AngularJs, Polymer, jQuery)</li>
                <li>Web Design HTML5 / CSS3</li>
                <li>Maintenance projets Java JEE</li>
                <li>Gestion de projets</li>
                <li>Suivi et relation client</li>
            </ul>
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur Java - GWT</h3>
                <div class="time">Mars 2012 - Avril 2013</div>
            </div><!--//upper-row-->
            <div class="company">CHR Link, Lyon</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            <ul>

                <li>Développement d'une application de gestion pour les agences immobilières - Java JEE / GWT</li>
                <li>Mise en place Jasper Report et iReport</li>
            </ul>
            </p>

        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Développeur Java / JEE - Swing</h3>
                <div class="time">Août 2010 - Décembre 2012</div>
            </div><!--//upper-row-->
            <div class="company">HM Diffusion, Bourgoin-Jallieu</div>
        </div><!--//meta-->
        <div class="details">
            <p>
            <ul>
                <li>Développement et évolution ERP</li>
                <li>Maintenance logiciel et base de données</li>
                <li>Rédaction de documentation (fonctionnelle, technique, utilisateur)</li>
                <li>Formation des utilisateurs</li>
            </ul>
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
