<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projets Auto-Entrepreneur</h2>
    <!-- <div class="intro">
        <p>En tant qu'auto-entrepreneur.</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#hook">FroggyApp</a></span> - <span class="project-tagline">
        Application de gestion pour une société qui met à disposition des ateliers dans le domaine artistique.<br/>

        L’application permet de gérer les élèves, les intervenants, et les cours ainsi que des stages, mais aussi de
        faire du mailing, de l’inscription en ligne, etc...
    </span>

    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Web-Osteo</a></span> -
        <span class="project-tagline">Application de suivi pour cabinet d'Ostéopathie</span>
    </div><!--//item-->
    <div class="item">
        <span class="project-title"><a href="#" target="_blank">Divers</a></span> -
        <span class="project-tagline">
            Maintenance de sites web classiques (Wordpress, etc.)
        </span>
    </div><!--//item-->
</section><!--//section-->